.workflow-container{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Optional: Add some space between grid items */
    overflow-y: scroll;
    width: 60%;
}