*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F3F4;
}

// Utility classes
.m-1{
    margin: 10px;
}

.m-2{
    margin: 20px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}